.PhoneSignInSignUp {
  border: var(sh-yellow);
  padding: .2em 1em;
  background: #fff;
  box-shadow: 0px -0.2px 6px 0px rgba(50, 50, 50, 0.6);
  position: relative;
}
.PhoneSignInSignUp-title {
  font-weight: bold;
  font-family: "Harmonia Bold";
  margin-top: 10px;
  text-align: center;
}
.PhoneSignInSignUp-login-btn {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5%;
}
.lFVgC ._34120 {
  color: dimgray;
}
.VerifyPhone-btn {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5%;
}
.PhoneSignInSignUp .lFVgC {
  width: 85%;
  position: relative;
  left: 2em;
}
