.SignUp {
  margin: 1em .5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.SignUp-social button._2Agdx {
  width: 100%;
}

.SignUp ._2Agdx._1jWAQ._2Agdx._2GH_L._2CPs4 {
  margin-left: auto;
}
