.SignUp {
  margin: 1em .5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.SignUp-social button._2Agdx {
  width: 100%;
}

.SignUp ._2Agdx._1jWAQ._2Agdx._2GH_L._2CPs4 {
  margin-left: auto;
}

.SignUp--btn {
  font-weight: 600;
  color: #2e2e2e;
}

.signup-account {
  text-align: center;
}

.signup-account--text {
  color: #757575;
  font-size: 12px;
}

.signup-account--btn {
  /*width: 100%;*/
  font-weight: 600;
  color: #2e2e2e !important;
}
