.cart-container {
  padding: .5em;
  padding-top: 0px;
  position: relative;
  min-height: calc(100vh - 6em);
}

.cart-container * {
  color: dimgray;
}

.cart-product-list {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
}

.Cart-actions {
  position: absolute;
  bottom: 0;
  width: calc(100% - 1em);
  display: flex;
  flex-direction: column;
}

.Checkout {
  padding: 1em;
}

.Checkout li {
  list-style: none;
}
