.cart-total, .cart-total-text, .cart-total-amount {
  display: flex;
  flex-direction: row;
}

.cart-total {
  position: relative;
  padding: 0 1rem;
  width: 100%;
}

.cart-total-text {
  margin-top: 0.4em;
}

.cart-total-amount {
  position: absolute;
  right: 1.2em;
}

.cart-total-amount h4:nth-child(1) {
  align-items: center;
  display: flex;
  padding-top: 0.4em;
  font-family: "Gotham Narrow Book";
  font-size: 0.8em;
  margin-right: 1.8em;

}
