.order-finalized-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.order-finalized-container .user-profile-pic {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.checkout-final-title {
  text-align: center;
  padding: 0.5em 1em;
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Harmonia Bold";
  margin: 0;
}

.user-info-title-desc {
  display: flex;
  justify-content: center;
}

.user-info-title-desc:first-of-type {
  position: relative;
  top: 0.5em;
}

.user-info-title-desc p {
  font-size: 0.8em;
  text-align: center;
  padding: 0 0.1em;
  margin: 0.5em 0;
}

.user-info-title-desc p:first-of-type {
  font-weight: bold;
}

.order-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  flex-wrap: wrap;
}

.order-details p {
  width: 40%;
  font-size: 0.8em;
  padding: 0 0.2em;
  margin: 0.7em 0;
}

.invoice-no--value {
  width: 50% !important;
}

.order-details p:first-of-type,
.cart-details {
  font-weight: bold;
}

.total-amount {
  display: flex;
  width: 50%;
}

.next-order-info {
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0;
  margin-top: 1em;
  font-family: "Harmonia Bold";
}

.user-order-desc {
  text-align: center;
  font-size: 0.9em;
  width: 85%;
  margin: 0.5em 0;
  height: 1em;
  line-height: 1em;
  margin-top: .2em;
}

.secure-acc-password {
  position: relative;
  width: 80%;
}

.secure-acc-password ._4bZUj {
  border: 1px solid gray;
  border-radius: .3em;
}

.secure-acc-password ._34120 {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.secure-acc-btn {
  padding-top: 0.2em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  bottom: .2em;
}

.cart-details-icon-container p {
  width: auto;
  margin: 0;
  padding: 0;
}

.cart-details-icon-container {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.cart-details-tooltip {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.3em;
  bottom: 0.1em;
  position: absolute;
  left: 2%;
  bottom: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  transition: all 0.2s;
  width: 15.5em;
  padding: .2em;
  max-height: 18em;
}

.cart-details-tooltip:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.5em solid rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: -.5em ;
  left: 31%;
  z-index: -1;
  opacity: 1;
}

.cart-details-tooltip p {
  color: #eee;
}

.extra-details-icon:hover~.cart-details-tooltip {
  opacity: 1;
}

.cart-details-table-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: .5em 0;
  height: 1.5em;
}

.cart-details-table-title p {
  font-size: .9em;
  font-weight: bold;
  white-space: nowrap;
}

.cart-details-table-title p:nth-child(1) {
  width: 60%;
  border-right: 1px solid #eee;
  text-align: center;
}

.cart-details-table-title p:nth-child(2) {
  width: 15%;
  border-right: 1px solid #eee;
  text-align: center;
}

.cart-details-table-title p:nth-child(3) {
  width: 25%;
  text-align: center;
}

.cart-details-table-desc {
  height: 1em;
  display: flex;
  width: 100%;
}

.cart-details-table-desc p {
  font-weight: normal !important;
  font-size: .6em;
  margin: .25em 0;
  height: 1em;
}

.cart-details-table-desc p:nth-child(1) {
  width: 60%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  padding-left: .75em;
  text-overflow: ellipsis;
}

.cart-details-table-desc p:nth-child(2) {
  width: 15%;
  text-align: center;
}

.cart-details-table-desc p:nth-child(3) {
  width: 25%;
  text-align: center;
}

.extra-details-icon {
  cursor: pointer;
  margin-bottom: 0.1em;
  margin-left: 0.5em;
  height: 1.8em;
  width: 1.8em;
}

.extra-details-icon::after {
  transition: all .2s;
}


.total-amount .total-value {
  width: 80%;
  margin-left: .2em;
}

.last-step-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 9rem;

}

/* .footer-btn-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  height: 11.5rem;
  box-shadow: 0px -1px 4px 1px rgba(0,0,0,0.34);
}

.finalize-order-container {
  width: 100%;
} */

.checkout-scrollable {
  height: calc(100vh - 13rem) !important;
  overflow-y: auto;
}


.confirmation-icon-step {
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-bottom: 1px solid gray;
}

.confirmation-icon-step p {
  font-size: 0.7em;
  margin: 0;
  width: 78%;
  text-align: center;
}

.confirmation-icon-step span {
  font-weight: bold;
  width: 5em;
  overflow: hidden;
}

.confirmation-icon-step .confirm-icon-div {
  height: 1.2rem;
  width: 1.2rem;
  border: 1px solid gray;
  border-radius: 50%;
  position: relative;
  right: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.2em;
}

.confirmed-btn {
  background: #1b7943;
  color: #fff;
}

.done-icon {
  font-size: 0.8em !important;
}

.amount-and-comment {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.delivery-amount {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.Delivery {
  white-space: nowrap;
}

.add-comment {
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal !important;
  text-overflow: ellipsis;
}

.Total {
  white-space: nowrap;
}
.est-deliv-date {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.est-deliv-date p:first-of-type {
  white-space: nowrap;
  width: 45%;
}

.est-deliv-date p:last-of-type {
  width: 50%;
}

.cart-details-tooltip hr {
  width: 95%;
  margin: .2em 0;
}

.cart-details-extra-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-right: .3em;
}

.price-title-value, .deliv-fee-title-value {
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding-left: .5em;
}


.cart-details-extra-info p  {
  font-size: .6em;
  font-weight: normal !important;
}

.total-price-value {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: .5em;
}

.total-price-value p {
  font-size: .6em;
  padding-right: .7em;
  font-weight: normal !important;
}

.total-price-value p:last-of-type {
  font-weight: bold !important;

}


.finalizeOrder-spinner {
    height: 1.3em;
    width: 1.3em;
    border: 2px solid #c33;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 1s linear infinite;
    position: relative;
    right: 1em;
    bottom: .3em;
}

.finalizeOrder-spinner::after {
  content: "";
  background: #003366;
  height: 4px;
  width: 4px;
  position: absolute;
  left: 95%;
  border-radius: 50%;

}

.finalizeOrder-spinner-child {
  height: .7em;
  width: .7em;
  background: #005dbb;
  border-radius: 50%;

}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
