:root {
  --footer-height: 9rem;
  --border-color: rgba(0,0,0,0.12);
}
.checkout-container {
  height: calc(100vh - 4rem);
  padding: 10px 0.5rem 1rem;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.checkout-background {
  background: url('../../assets/images/checkout-background.png');
  background-size: cover;
  display: flex;
  justify-content: center;
}

.checkout-stepper {
  margin: 12px 0;
}

.checkout-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--footer-height);
  background: #fff;
}

.checkout-footer--info {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.checkout-footer--info p {
  font-size: 1.2rem;
  margin: 0;
  padding: 0.5rem 1rem;
  font-weight: 600;
}
.checkout-footer--btn {
  width: 100%;
}
.checkout--btn-title-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.checkout--btn-container {
  height: 3.8rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.checkout--btn-container Button {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: .7em;
  border-radius: .5em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.checkout--exprs-btn {
  background: #e33939;
  font-weight: 600;
  font-family: var(--btn-font);
  font-style: italic;
}
.checkout--exprs-btn::after {
  content: "(2-12Hours)";
  position: absolute;
  top: 50%;
  right: 15%;
  font-size: .9em;
  font-weight: normal;
}
.checkout--std-btn::after {
  content: "(2-3Days)";
  position: absolute;
  top: 50%;
  right: 15%;
  font-size: .9em;
  font-weight: normal;
}
.btn-title-desc {
  display: flex;
  flex-direction: column;
}
.checkout--delivery-title {
  font-size: 1em;
  font-weight: bold;  
}
.checkout-main {
  width: 100%;
  height: auto;
}
.checkout--btn-container Button img {
  height: 1.8rem;
  width: 1.8rem;
}