.checkout-delivery {
  padding-left: .5em;
  padding-right: .5em;
}

.checkout-delivery-title {
  font-size: 1.2rem;
  margin: 0.8rem;
  text-align: center;
}

.checkout-delivery-address--btn-add {
  width: 100%;
}

.checkout-delivery-address--btn-add._2GH_L ._3aBSX {
  position: relative;
  right: 1em;
}

.checkout-delivery-address--view {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.checkout-delivery-address--view div {
  cursor: pointer;
}

.checkout-delivery-address--card {
  display: flex;
  flex-direction: column;
  margin: 0.8rem 0;
  padding: 0.8rem;
  width: 50%;
  box-shadow: var(--shadow-6p);
  border-radius: .15em;
  width: 45%;
  position: relative;
}

.checkout-delivery-address--card-title {
  text-align: center;
  font-weight: 600;
  color: #000;
  margin: 0;
  width: 100%;
  height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkout-delivery-address--card-content {
  font-size: 0.7rem;
  padding-top: 0.5rem;
  text-align: center;
  font-family: "Harmonia Regular";
  margin: 0;
  max-height: 80%;
}

.checkout-delivery-address--card:active {
  box-shadow: var(--shadow-2p);
}

.checkout-delivery-address--card:nth-child(odd) {
  margin-right: 0.5rem;
}

.checkout-delivery-address--card:nth-child(even) {
  margin-left: 0.5rem;
}

.add-special-feature-btn {
  height: 1.8rem;
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-size: .8em;
  padding: .2em;
  text-align: center;
  background: #fff;
  border-radius: .1em;
  margin-top: 1em;
  width: 83%;
  transition: all .3s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.add-special-feature-btn:focus {
  outline: none;
}

.add-special-feature-btn:active {
  background: #BEBEBE;
}

.address-card-more-btn {
  width: 85%;
  box-shadow: var(--shadow-6p);
  height: 2rem;
  padding-bottom: .5em;
}
/*
.checkout--exprs-btn::after {
  content: "(3-12Hours)";
  position: absolute;
  top: 50%;
  right: 5%;
  font-size: .9em;
  font-weight: normal;
  top: 45%;
}

.checkout--std-btn::after {
  content: "(2-3Days)";
  position: absolute;
  top: 50%;
  right: 15%;
  font-size: .9em;
  font-weight: normal;
  top: 42%;
} */

.btn-desc p {
  margin: 0;
  position: relative;
}

.btn-desc p:first-of-type {
  top: .6em;
}

.btn-desc p:last-of-type {
  bottom: 1.6em;
  font-size: .8em;
}

.checkout--btn-container Button img {
  height: 1.8rem;
  width: 1.8rem;
  margin-bottom: .8em;
}

.cross-btn {
  height: .8em;
  width: .8em;
  border-radius: 50%;
  background: #ee1432;
  cursor: pointer;
  position: absolute;
  right: -.4em;
  top: -.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross-btn-icon {
  font-size: .7em !important;
  color: #fff;
}

.spec-inst-input-box {
  width: 95%;
}

.spec-inst-input-box ._4bZUj {
  height: 7em !important;
  border: 1px solid gray;
  border-radius: .4em;
  position: relative;
  text-indent: 1em;
}

.spec-inst-input-box ._3FySS {
  width: 95%;
  left: 2.5%;
}

.spec-inst-input-box .bMyi_ {
  width: calc(100% - 2em);
  left: 1.24em;
  font-size: .8em;
}
