:root {
  --footer-height: 9rem;
  --border-color: rgba(0,0,0,0.12);
}
.checkout-container {
  height: calc(100vh - 4rem);
  padding: 10px 0.5rem 1rem;
  position: relative;
  width: 100%;
  display: flex;
}

.checkout-background {
  background: url('../../assets/images/checkout-background.png');
  background-size: cover;
}

.checkout-stepper {
  margin: 12px 0;
}

.checkout-footer {
  position: absolute;
  margin: 1rem 0.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--footer-height);
  /*background-color: red;*/
}

.checkout-footer--info {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.checkout-footer--info p {
  font-size: 1.2rem;
  margin: 0;
  padding: 0.5rem 1rem;
  font-weight: 600;
}
.checkout-footer--btn {
  width: 100%;
}


