.checkout-delivery {
  padding-left: .5em;
  padding-right: .5em;
}

.checkout-delivery-title {
  font-size: 1.2rem;
  margin: 0.8rem;
  text-align: center;
}

.checkout-delivery-address--btn-add {
  width: 100%;
  border: 1px solid #cccccc;
}
.checkout-delivery-address--btn-add > span{
  position: absolute;
  left: 1rem;
}

.checkout-delivery-address--view {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.checkout-delivery-address--view div {
  cursor: pointer;
}

.checkout-delivery-address--card {
  display: flex;
  flex-direction: column;
  /*background-color: yellow;*/
  margin: 0.8rem 0;
  padding: 0.8rem;
  width: 50%;
  box-shadow: var(--shadow-6p);
  border: 1px solid #cccccc;
  border-radius: .15em;
  width: 45%;

}
.checkout-delivery-address--card-title {
  text-align: center;
  font-weight: 600;
  color: #000;
}
.checkout-delivery-address--card-content {
  font-size: 0.7rem;
  padding-top: 0.5rem;
  text-align: center;
  font-family: "Harmonia Regular";
  max-height: 80%;
}
.checkout-delivery-address--card:active {
  box-shadow: var(--shadow-2p);
}
.checkout-delivery-address--card:nth-child(odd) {
  margin-right: 0.5rem;
}
.checkout-delivery-address--card:nth-child(even) {
  margin-left: 0.5rem;
}
.add-special-feature-btn {
  height: 1.3rem;
  cursor: pointer;
  border: 1px solid dimgray;
  font-weight: bold;
  font-size: .8em;
  padding: .2em;
  text-align: center;
  background: #fff;
  border-radius: .5em;
  margin-top: 1em;
}
.add-special-feature-btn:focus {
  outline: none;
}

.address-card-more-btn {
  width: 85%;
  box-shadow: var(--shadow-6p);
  height: 2rem;
}

.checkout--exprs-btn::after {
  content: "(3-12Hours)";
  position: absolute;
  top: 50%;
  right: 15%;
  font-size: .9em;
  font-weight: normal;
}
.checkout--std-btn::after {
  content: "(2-3Days)";
  position: absolute;
  top: 50%;
  right: 15%;
  font-size: .9em;
  font-weight: normal;
}
