.add-delivery-address {
  animation-name: bounceInDown;
  animation-duration: 500ms;
}

.add-delivery-address--dual {
  display: flex;
  justify-content: space-between;
}

.add-delivery-address .lFVgC , .add-delivery-address--dual .lFVgC {
  padding: 1.1em .2em;
}

.add-delivery-address .lFVgC ._34120 {
    font-size: 14px;
}

.add-delivery-address .address-title::after , .add-delivery-address .address-details::after {
  position: absolute;
  font-size: .6em;
  left: 0;
  bottom: -4%;
  font-style: italic;
  color: #2e2e2e;
}

.add-delivery-address .address-title::after {
  content: "E.g. Home, Office";
}

.add-delivery-address .address-details::after {
  content: "E.g. House:40, Road: 5, Block: G";
}

.add-delivery-address--dual .lFVgC ._2k5Jz {
  font-size: .4em;
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, 0px, 0);
  }

  40% {
    opacity: 1;
    transform: translate3d(0, 5px, 0);
  }

  75% {
    transform: translate3d(0, -3px, 0);
  }

  90% {
    transform: translate3d(0, 2px, 0);
  }

  to {
    transform: none;
  }
}
