.NavigationAppBar {
  background-color: #CC3333;
}

.NavigationAppBar-title {
  height: auto;
  vertical-align: middle;

}

.NavigationAppBar-title span {
  margin-left: 1em;
}

/*appbar left icon*/
.NavigationAppBar ._30BcY {
  height: 100%;
  width: auto;
}
.NavigationAppBar-logo {
  /*box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.55);*/
  /*box-shadow: var(--shadow-4p);*/
  height: 3rem;
  vertical-align: middle;
  border-radius: 50%;
  box-shadow: 0px 0px 68px -16px rgba(38, 36, 35, 0.70);
}

.NavigationAppBar-title--hidden {
  display: none;
}

._3Py1Z._2dwFx.NavigationAppBar {
  z-index: 200;
  height: 4rem;
}

.NavigationAppBar-rewards {
  display: none;
}

.NavigationAppBar-GiftPoint ._1gvr5{
  margin-top: 2em;
  margin-right: 1em;
}

.NavigationAppBar-profile-menu ._1gvr5 {
  margin-top: 42px;
}

.NavigationAppBar-searchbar--close {
  position: absolute;
  top: 0;
  right: 0;
}

.NavigationAppBar-right-comp {
  margin-left: auto;
}

.NavigationAppBar-right-comp .material-icons {
  color: white;
}

._2aMxm.NavigationAppBar-profile-menu ._2PdTB{
  min-width: 9em;
}

.NavigationAppBar-profile-menuitem .material-icons {
  color: #424242;
}

.NavigationAppBar-right-comp .NavigationAppBar-right-comp-search .NavigationAppBar-search-icon{
  color: aquamarine;
  cursor: pointer;
}

._3Py1Z ::after {
  display: none;
}

.NavigationAppBar .material-icons {
  font-size: 2rem;
}

.NavigationAppBar-dashboard-icon svg {
  margin-top: -0.1em;
  width: 40px;
  height: 40px;
}

.NavigationAppBar-user-profile-icon {
  margin-top: -0.1em;
  box-shadow: 1px 1px 8px 0px rgba(107, 107, 107, 0.60);
}
.NavigationAppBar-title--shopname {
  font-family: "Gotham Narrow Black";
  position: relative;
  top: -0.1em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.NavigationAppBar-title--ref {
  font-family: "Dincond Bold";
  letter-spacing: 0.5px;
  position: relative;
  bottom: -0.1em;
}

._2CPs4.NavigationAppBar-icon svg {
  color: white;
  font-size: 2em;
}

@media screen and (max-width: 450px) {
  .NavigationAppBar-title {
    display: none;
  }
}

/*for tablet*/
@media screen and (min-width: 600px) {
  .NavigationAppBar-GiftPoint {
    display: none;
  }

  .NavigationAppBar-rewards h2 {
    font-size: .6em;
    color: white;
  }

  .NavigationAppBar-rewards {
    display: inline-block;
    margin: 0px 1em;
  }

  .hC5Z2._2Agdx._2CPs4.NavigationAppBar-search--button{
    display: none;
  }
}

/*for desktop*/
@media screen and (min-width: 800px) {
  ._2CPs4.NavigationAppBar-icon {
    margin: 0em 2em;
    color: white;
  }


}
