.Navigation-panel {
  height: 100vh;
}

.Navigation-panel._3aW3s {
  right: 0px;
}

.Navigation-content {
  width: calc(100vw - 4em);
  padding-top: 5rem;
  padding-bottom: 5.8em;
  background: url(/static/media/sh-website-bg.15e7af6b.svg);
  background-size: 250px;
  min-height: 100vh;
}

.Navigation-content-main {
  width: initial;
  padding-top: 4rem;
  margin-top: 20px;
}

.Navigation ._2FBCh {
  display: none;
}

.Navigation ._2GtDw {
  padding: 0;
}

.Navigation-panel-left {
  left: 4em;
}

/*button icon on the right side of the app bar*/
.Navbar ._37vtt {
  margin-left: 1em;
}

._37vtt .Shop-name {
  margin-left: 18px;
}

._1sAOY.Navigation-sidebar {
  z-index: 250;
  border-left: 0px;
}

.Navigation-sidebar-action {
  position: sticky;
  z-index: 300;
  top: 0em;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  background-color: #FFC400;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14),
              0 1px 10px 0 rgba(0, 0, 0, .12),
              0 2px 4px -1px rgba(0, 0, 0, .2);
}

.Navigation-sidebar-action button .material-icons {
  font-size: 2.2em;
  color: #2e2e2e;
  font-weight: 900;
}

.Navigation-sidebar-action h1 {
  font-size: 1.3em;
  color: #2e2e2e;
  font-family: "Gotham Narrow Black";
  font-weight: 900;
  letter-spacing: .07em;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.Navigation-sidebar-content {
  height: calc(100% - 4rem);
}

.checkout-header-icon {
  height: 2em;
  width: 2em;
}

/*for phone*/
@media screen and (max-width: 480px) {
  ._1sAOY.Navigation-sidebar {
    width: 100vw;
    background-color: white;
  }
}

/*for tablet*/
@media screen and (min-width: 600px) {
  .Navigation-content {
    width: auto;
    padding-top: 5rem;
  }

  .Navigation-content-main {
    width: auto;
    padding-top: 4rem;
  }

  .Navigation-content-main {
    padding-bottom: 0;
  }

  .Navigation ._2FBCh {
    display: block;
  }

  .Navigation ._2GtDw {
    padding: 0 1em;
  }

  .Navigation-panel-left {
    left: 10em;
  }

  ._1sAOY.Navigation-sidebar {
    width: 40vw;
    background-color: white;
    box-shadow: -3px 0px 14px 0px rgba(50, 50, 50, 0.80);
  }

  .Navigation-sidebar-content {
    margin-top: 0em;
  }

}



/*for desktop*/
@media screen and (min-width: 800px) {
  ._1sAOY.Navigation-sidebar {
    width: 22.5vw;
  }

  .Navigation-sidebar-content {
    height: calc(100% - 4rem);
  }

  .background-blurzy {
    height: 100%;
    width: calc(100vw - 22.5vw);
    background: rgba(0, 0 ,0 , 0.8);
    position: absolute;
    z-index: 225;
    opacity: 0;
    animation-name: blur-delay;
    animation-duration: .35s;
    animation-delay: .35s;
    animation-iteration-count: 1;
    animation-timing-function:linear;
    animation-fill-mode:forwards;
  }


  @keyframes blur-delay {
    from {opacity: 0}
    to {opacity: 1}
  }
}


/* For IPAD */
@media screen and (min-width: 768px) and (max-width: 1023px) {
._1sAOY.Navigation-sidebar {
    width: 40vw;
}

.background-blurzy {
  width: calc(100vw - 40vw);
  height: 100%;
  background: rgba(0, 0 ,0 , 0.8);
  position: absolute;
  z-index: 225;
}


}


/* ipad pro */
@media screen and (width: 1024px) and (height: 1366px) {
  ._1sAOY.Navigation-sidebar {
    width: 30vw;
  }

  .background-blurzy {
    width: calc(100vw - 30vw);
  }
}
