.NavigationAppBar-container {
  height: calc(4rem + 20px);
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 200;
}

.NavigationAppBar-mini {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  width: 100vw;
  background-color: #962E37;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.NavigationAppBar-mini button {
  position: relative;
  right: 2.5rem;
  color: ghostwhite;
  vertical-align: text-top;
  background-color: #b41616;
  font-size: 11.5px;
  padding: 0px 1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: Century_Gothic;
  text-decoration: none;
  border: 0px;
}

.NavigationAppBar-mini button:hover {
  color: ghostwhite;
  background-color: rgba(180, 22, 22, 0.9);
  cursor: pointer;
}

.NavigationAppBar-mini button:focus {
  outline-width: 0;
}

.NavigationAppBar {
  background-color: #D4414E;
  margin-top: 20px;
}

.NavigationAppBar-title {
  height: auto;
  vertical-align: middle;

}

.NavigationAppBar-title span {
  margin-left: 1em;
}

/*appbar left icon*/
.NavigationAppBar ._30BcY {
  height: 100%;
  width: auto;
}

.NavigationAppBar-logo {
  height: 3rem;
  width: 3rem;
  vertical-align: middle;
  border-radius: 50%;
  box-shadow: 0px 0px 68px -16px rgba(38, 36, 35, 0.70);
}

.NavigationAppBar-title--hidden {
  display: none;
}

._3Py1Z._2dwFx.NavigationAppBar {
  z-index: 200;
  height: 4rem;
}

.NavigationAppBar-rewards {
  display: none;
}

.NavigationAppBar-GiftPoint ._1gvr5{
  margin-top: 2em;
  margin-right: 1em;
}

.NavigationAppBar-profile-menu ._1gvr5 {
  margin-top: 42px;
}

.NavigationAppBar-searchbar--close {
  position: absolute;
  top: 0;
  right: 0;
}

.NavigationAppBar-right-comp {
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.NavigationAppBar-right-comp .material-icons {
  color: white;
}

._2aMxm.NavigationAppBar-profile-menu ._2PdTB{
  min-width: 9em;
}

.NavigationAppBar-profile-menuitem .material-icons {
  color: #424242;
}

.NavigationAppBar-right-comp .NavigationAppBar-right-comp-search .NavigationAppBar-search-icon{
  color: aquamarine;
  cursor: pointer;
}

._3Py1Z ::after {
  display: none;
}

.NavigationAppBar .material-icons {
  font-size: 2rem;
}

.NavigationAppBar-dashboard-icon {
  margin-top: -0.1em;
  width: 85%;
  height: 100%;
}

.NavigationAppBar-user-profile-icon {
  margin-top: -0.15em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.NavigationAppBar-user-profile-icon._3OjJz>img {
  height: 100%;
  object-fit: cover;
}

.NavigationAppBar-title--shopname {
  font-family: "Gotham Narrow Black";
  position: relative;
  top: -0.1em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.NavigationAppBar-title--ref {
  font-family: "Dincond Bold";
  letter-spacing: 0.5px;
  position: relative;
  bottom: -0.1em;
}

._2CPs4.NavigationAppBar-icon svg {
  color: white;
  font-size: 2em;
}

.hC5Z2._2Agdx._2CPs4.NavigationAppBar-icon {
  border-radius: initial;
  margin-top: .2em;
  margin-right: .5em;
}

.NavigationAppBar-cart-icon {
  height: 3em;
  width: 2.3em;
  margin-right: .5em;
  cursor: pointer;
  margin-top: .2em;
}

@media screen and (max-width: 480px) {
  .NavigationAppBar-title {
    display: none;
  }

  .NavigationAppBar-mini button {
    right: 0.5rem;
  }
}

/*for tablet*/
@media screen and (min-width: 600px) {
  .NavigationAppBar-GiftPoint {
    display: none;
  }

  .NavigationAppBar-rewards h2 {
    font-size: .6em;
    color: white;
  }

  .NavigationAppBar-rewards {
    display: inline-block;
    margin: 0px 1em;
  }

  .hC5Z2._2Agdx._2CPs4.NavigationAppBar-search--button{
    display: none;
  }
}

/*for desktop*/
@media screen and (min-width: 800px) {
  ._2CPs4.NavigationAppBar-icon {
    margin: 0em 2em;
    color: white;
  }


}
