.Navigation-panel {
  height: 100vh;
}

.Navigation-panel._3aW3s {
  right: 0px;
}

.Navigation-content {
  width: calc(100vw - 4em);
  padding-top: 5rem;
  padding-bottom: 5.8em;
}

.Navigation-content-main {
  width: initial;
  padding-top: 4rem;
  margin-top: 20px;
}

.Navigation ._2FBCh {
  display: none;
}

.Navigation ._2GtDw {
  padding: 0;
}

.Navigation-panel-left {
  left: 4em;
}

/*button icon on the right side of the app bar*/
.Navbar ._37vtt {
  margin-left: 1em;
}

._37vtt .Shop-name {
  margin-left: 18px;
}

._1sAOY.Navigation-sidebar {
  z-index: 250;
  border-left: 0px;
}

.Navigation-sidebar-action {
  position: absolute;
  top: 0em;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #FFC400;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14),
              0 1px 10px 0 rgba(0, 0, 0, .12),
              0 2px 4px -1px rgba(0, 0, 0, .2);
}

.Navigation-sidebar-action button .material-icons {
  font-size: 2.2em;
  color: white;
  font-weight: 900;
}
.Navigation-sidebar-action button {
  margin-top: 1.10em;
  margin-left: 0.2em;
}
.Navigation-sidebar-action h1 {
  font-size: 1.3em;
  width: 100%;
  padding-top: 0.2em;
  padding-left: 0.4em;
  color: white;
  font-family: "Gotham Narrow Book";
  font-weight: 900;
}

.Navigation-sidebar-content {
  margin-top: 6em;
  /*padding: 1em;*/
}

/*for phone*/
@media screen and (max-width: 480px) {
  ._1sAOY.Navigation-sidebar {
    width: 100vw;
    background-color: white;
  }
}

/*for tablet*/
@media screen and (min-width: 600px) {
  .Navigation-content {
    width: auto;
    padding-top: 5rem;
  }

  .Navigation-content-main {
    width: auto;
    padding-top: 4rem;
  }

  .Navigation-content-main {
    padding-bottom: 0;
  }

  .Navigation ._2FBCh {
    display: block;
  }

  .Navigation ._2GtDw {
    padding: 0 1em;
  }

  .Navigation-panel-left {
    left: 10em;
  }
  ._1sAOY.Navigation-sidebar {
    width: 30vw;
    padding-top: 4em;
    background-color: white;
    box-shadow: -3px 0px 14px 0px rgba(50, 50, 50, 0.80);
  }
  .Navigation-sidebar-content {
    margin-top: 0em;
  }

}

/*for desktop*/
@media screen and (min-width: 800px) {
  ._1sAOY.Navigation-sidebar {
    width: 22.5vw;
  }
}
