.Searchbar ._1erPE:hover {
  background-color: #eee;
}

.Searchbar._07g5 {
  padding: 0;
}

.Searchbar._3-Nb6 {
  margin-top: 0;
}

._07g5.Searchbar {
  z-index: 1;
  padding: 0;
  position: absolute;
  left: .5em;
  width: calc(100% - 2em);
  top: .8em;
}

._07g5.Searchbar.Searchbar--hide {
  display: none;
}

.Searchbar .lFVgC {
  padding: 0;
  position: relative;
}

.Searchbar ._4bZUj {
  background-color: white;
  padding-left: .5em;
  letter-spacing: 0.5px;
}

.Searchbar ._14fVf {
  padding: 0;
}

.Searchbar ._4bZUj:focus:not([disabled]):not([readonly])~._3FySS::after,
.Searchbar ._4bZUj:focus:not([disabled]):not([readonly])~._3FySS::before {
  width: 100%;
}

.Searchbar ._3FySS::before {
  left: 0;
}

#Searchbar-input {
  border-radius: 2px;
}

.Searchbar-input--label {
  position: absolute;
  top: 0;
  left: .5em;
  color: dimgrey;
  font-size: 1em;
  padding: 0.55em;
}

.Searchbar-input--button {
  background: #FFC400;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
}

.Searchbar-input--button .material-icons {
  font-size: 1.7em !important;
  color: #757575;
}

.Searchbar--search {

}

.Searchbar--search {
  display: none;
}

/*for desktop*/
@media screen and (min-width: 600px) {
  ._07g5.Searchbar.Searchbar--hide {
    display: block;
  }

  ._07g5.Searchbar {
    left: 10em;
    width: calc(100% - 16em);
  }

  .Searchbar--close {
    display: none;
  }

  .Searchbar--search {
    display: inline;
  }
}

/*@media screen and (min-width: 700px) {
  ._07g5.Searchbar {
      width: calc(100% - 32em);
  }
}*/

@media screen and (min-width: 1024px) {
  ._07g5.Searchbar {
    left: 34em;
    width: calc(100% - 40em);
  }
  .Searchbar--search .material-icons {
    width: 100%;
    text-align: center;
  }
}


