.details-main-subtitle {
  font-family: "Gotham Narrow Book";
  font-weight: 600;
}

.details-main-secondary {
  display: flex;
  flex-direction: row;
}
.details-main-secondary-size {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0em .5em;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  border: 2px solid gray;
  box-shadow: var(--shadow-2p);
  cursor: pointer;
}

.details-main-primay {
  display: flex;
  flex-direction: row;
}
.details-main-primay .circle-picker {
  margin-top: 1em;
  margin-left: 3em;
}

.details-main-weight {
  display: flex;
  flex-direction: row;
}
.details-main-weight p {
  padding-left: 3em;
  align-items: center;
  display: flex;
}

.details-main-secondary-size--selected {
  border: 2px solid royalblue;
}
/*for mobile*/
@media screen and (max-width: 600px) {
  .details-sizes {
    padding-left: 1.5em;
  }
  .details-main-primay .circle-picker {
    margin-left: 1.5em;
    width: 100% !important;
  }

  .details-main-weight p {
    padding-left: 1.5em;
  }

}
