.details-main-subtitle {
  font-family: "Gotham Narrow Book";
  font-weight: 600;
  width: 5rem;
}

.details-main-secondary {
  display: flex;
  flex-direction: row;
}

.details-main-stock {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.details-main-secondary-size,  .details-main-stock--value {
  display: inline-flex;
  align-items: center;
  font-weight: 900;
  justify-content: center;
  list-style: none;
  margin: 0em .6em;
  height: 2em;
  width: auto;
  border: 1px solid #cccccc;
  border-radius: 8px;
  cursor: pointer;
  transition: border 200ms linear;
  padding: 6px 1.2rem;
  box-shadow: var(--shadow-2p);
}

.details-main-stock--value {
  border: 1px solid #898989;
  background-color: #898989;
  color: white;
}

.details-main-secondary-size--selected {
  border: 1px solid #898989;
  background-color: #898989;
  color: white;
  transition: border 200ms linear, background 300ms ease-in;
  box-shadow: var(--shadow-4p);
}

.details-main-primay {
  display: flex;
  flex-direction: row;
}
.details-main-primay .circle-picker {
  margin-top: 1em;
  margin-left: 3em;
}

.details-main-weight {
  display: flex;
  flex-direction: row;
}
.details-main-weight p {
  padding-left: 3em;
  align-items: center;
  display: flex;
}

/*for mobile*/
@media screen and (max-width: 600px) {
  .details-sizes {
    padding-left: .5em;
  }
  .details-main-primay .circle-picker {
    margin-left: 1.5em;
    width: 100% !important;
  }

  .details-main-weight p {
    padding-left: 1.5em;
  }
  .details-main-secondary-size {
    margin: .7em .5em;
  }
  .details-main-stock {
    padding: 0;
    padding-left: .4em;
  }
  .product-details-right {
    padding: 0em .2em;
}

}
