.variance-list {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.variances {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 10px;
  box-shadow: var(--shadow-2p);
  object-fit: contain;
  margin: 0 0.6rem;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
