.addbutton {
  position: fixed;
  top: calc(90vh - 1em);
  right: 1em;
  z-index: 200;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

._2Agdx._3IRMZ._1ZxqC._2CPs4.addbutton {
  background-color: rgb(183, 28, 28);
}

.addbutton .material-icons,
._3aBSX > svg {
  color: white;
  font-size: 1.4em;
}

._2Agdx._3IRMZ._1ZxqC._2CPs4.addbutton.addbutton-social {
  background-color: rgba(0, 132, 255, 1)
}

.addbutton-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
