.BackOffice {

}

.BackOffice.BackOffice ._2FBCh._2FBCh {
  display: block;
  padding: 0 1em;
}

._8pay8.BackOffice-card {
  margin-bottom: .5em;
}

.Backoffice-listitem span{
  margin-left: 1em;
}

.K_kzH.BackOffice-data {
  display: flex;
  flex-direction: column;
}

.BackOffice-data--row {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.BackOffice-card--titles {
  display: none;
}

.BackOffice-data--row span:nth-child(1) {
  display: block;
}

@media screen and (min-width: 600px) {
  .K_kzH.BackOffice-data {
    flex-direction: row;
  }

  .BackOffice-card--titles {
    display: block;
  }

  .BackOffice-data--row span:nth-child(1) {
    display: none;
  }

  .BackOffice-data--row--title span:nth-child(1) {
    display: block;
  }
}

