
.startDate, .endDate {
  border: white;
  height: 2em;
  width: 8em;
  padding: 5px;

}
.portalDate .rightArrow {
  color: cornflowerblue;
  margin: 0em .6em;
  height: 2em;
  width: 2em;
}

.portalDate {
  border: 1px solid lightskyblue;
  border-radius: 4px;
  display: flex;
  height: 2em;
  width: 17em;

}

