.FeaturedSlider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20em;
  background-color: #efefef;
  border-left: 1px solid darkgrey;
}

.FeaturedSlider-products {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.FeaturedSlider-products .ProductCard {
  flex: 0 0 auto;
  margin: .5em;
}

@media screen and (min-width: 800px) {
  .FeaturedSlider {
    height: calc(100vh - 4em);
  }

  .FeaturedSlider-products {
    height: 100%;
    flex-wrap: wrap;
  }

  .FeaturedSlider-products .ProductCard {
    margin: .5em auto;
  }
}
