.FeaturedSlider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20em;
  background: url('../assets/images/side-banner.png');
}

.FeaturedSlider-products {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.FeaturedSlider-products .ProductCard {
  flex: 0 0 auto;
  margin: .5em;
}

.emptydiv-featured {
  display: none;
}

.FeaturedSlider-text h1 {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  color: dimgrey;
  margin-bottom: 0.2em;
}

/*For Phones*/
@media screen and (max-width: 600px) {
  .FeaturedSlider {
    position: relative;
  }
  .FeaturedSlider-text h1 {
    position: absolute;
    top: -0.5em;
  }
}


@media screen and (min-width: 800px) {
  .FeaturedSlider {
    height: calc(100vh - 4em - 20px);
    padding: 0.4em 0.6em;
  }

  .FeaturedSlider-products::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
  }

  .FeaturedSlider-products::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #F5F5F5, #F5F5F5, #666, #F5F5F5, #F5F5F5);
  }
  .FeaturedSlider-products {
    height: 100%;
    flex-wrap: wrap;
  }

  .FeaturedSlider-products .ProductCard {
    margin: 1em auto;
    flex: auto;
  }

  .FeaturedSlider-products > .ProductCard{
    margin-top: 0;
  }

  .emptydiv-featured {
    display: flex;
    height: 10em;
    width: 10em;
  }

  .FeaturedSlider-text {
    height: 2em;
    text-align: center;
    width: 100%
  }
  .FeaturedSlider-text h1 {
    margin: 0.2em 0em;
  }


}
