.FilterBar {
  margin-bottom: .5em;
}

.FilterBar--none {
  display: none;
}

.FilterBar  > ._8pay8 {
  transition: all 1s cubic-bezier(.25,.8,.25,1);
}

.FilterBar--flat {
  box-shadow: none;
  transition: all 1s cubic-bezier(.25,.8,.25,1);
}

.FilterBar--title {
  padding: .5em;
  width: 13em;
}

.FilterBar--title > span {
  font-size: 1.4rem;
}

.FilterBar-filters {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.FilterBar-filters .DateRangePickerInput {
  border: 0;
}

.FilterBar-filters .DateInput {
  padding: 0;
  line-height: initial;
  width: auto;
}

.FilterBar > ._3Py1Z{
  background: #fff;
  color: rgb(33, 33, 33);
}

@media screen and (min-width: 600px) {
  .FilterBar-card {
    flex-direction: row;
    align-items: center;
  }

  .FilterBar-filters {
    width: 79%;
  }
}
