.ImageUploader-content {
  display: flex;
  justify-content: center;
  background: #ccc;
}

.ImageUploader-dialog {
  width: 905px;
}

.ImageUploader-dropzone {
  border: #ccc dotted;
  height: 10em;
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ImageUploader-add-icon.material-icons {
  font-size: 8em;
}
