.NavigationAppBar {
  background-color: #512DA8;
}

.NavigationAppBar-title span {
  margin-left: 1em;
}

.NavigationAppBar-title--hidden {
  display: none;
}

._07g5.Searchbar {
  z-index: 1;
  padding: 0;
  position: absolute;
  left: 2em;
  width: calc(100% - 5em);
}

._07g5.Searchbar.Searchbar--hide {
  display: none;
}

.Searchbar .lFVgC {
  padding: 0;
  position: relative;
}

.Searchbar ._4bZUj {
  background-color: white;
  padding-left: .5em;
}

.Searchbar ._14fVf {
  padding: 0;
}

._3Py1Z._2dwFx.NavigationAppBar {
  z-index: 300;
  height: 4rem;
}

.NavigationAppBar-rewards {
  display: none;
}

.NavigationAppBar-GiftPoint ._1gvr5{
  margin-top: 2em;
  margin-right: 1em;
}

.NavigationAppBar-profile-menu ._1gvr5 {
  margin-top: 42px;
}

.NavigationAppBar-searchbar--close {
  position: absolute;
  top: 0;
  right: 0;
}

.NavigationAppBar-right-comp {
  margin-left: auto;
}

.NavigationAppBar-right-comp .material-icons {
  color: white;
}

.NavigationAppBar-profile-menuitem .material-icons {
  color: #424242;
}

.NavigationAppBar-right-comp .NavigationAppBar-right-comp-search .NavigationAppBar-search-icon{
  color: aquamarine;
  cursor: pointer;
}

._3Py1Z ::after {
  display: none;
}
/*special appbar title logic*/

@media screen and (max-width: 450px) {
  .NavigationAppBar-title {
    display: none;
  }
}


@media screen and (min-width: 600px) {
  ._07g5.Searchbar.Searchbar--hide {
    display: block;
  }

  ._07g5.Searchbar {
    left: 15em;
    width: calc(100% - 25em);
  }

  .NavigationAppBar-GiftPoint {
    display: none;
  }

  .NavigationAppBar-rewards h2 {
    font-size: .6em;
    height: 1.2em;
    width: 2em;
    color: white;
  }

  .NavigationAppBar-rewards {
    display: inline;
    top: -0.8em;
    left: -1.1em;
  }

  .NavigationAppBar-searchbar--close {
    display: none;
  }

  .hC5Z2._2Agdx._2CPs4.NavigationAppBar-search--button{
    display: none;
  }
}
