.Navigation {
}


.Navigation ._1sAOY {
  width: 4em;
}

.Navigation ._2FBCh {
  display: none;
}

.Navigation ._2GtDw {
  padding: 0;
}

.Navigation .Navigation-panel {
  left: 4em;
}

.Navigation-title--hidden {
  visibility: hidden;
}

.Navigation-filler--div {
  margin-top: 4em;
}

.Navigation--selected {
  background: #eee;
}

/*button icon on the right side of the app bar*/
.Navbar ._37vtt {
  margin-left: 1em;
}

._07g5.Searchbar {
  z-index: 1;
  padding: 0;
  position: absolute;
  left: 2em;
  width: calc(100% - 5em);
}

._07g5.Searchbar.Searchbar--hide {
  display: none;
}

.Searchbar .lFVgC {
  padding: 0;
  position: relative;
}

.Searchbar ._4bZUj {
  background-color: white;
  padding-left: .5em;
}

.Searchbar ._14fVf {
  padding: 0;
}

.Navigation-searchbar--close {
  position: absolute;
  top: 0;
  right: 0;
}

._3Py1Z._2dwFx.Navigation-navbar {
  z-index: 200;
}

.profile-menu ._1gvr5 {
  margin-top: 42px;
}

._37vtt .Shop-name {
  margin-left: 18px;
}

.Right-comp {
  margin-left: auto;
}

.Right-comp .Right-comp-search .search-icon{
  color: aquamarine;
  cursor: pointer;
}

.Navigation-panel ._37vtt {
  width: 0;
  margin-left: 1em;
}

.Navigation-content {
  padding-top: 4em;
}

.Navigation-addbutton {
  position: fixed;
  top: calc(90% - 1em);
  right: 1em;
  z-index: 200;
}

._2Agdx._3IRMZ._2Agdx._1ZxqC._2CPs4.Navigation-addbutton {
  background-color: rgb(183, 28, 28);
}

._1sAOY._2kCN0._2-4-H.EWFXC.qf0ha.Navigation-sidebar {
  width: 17em;
}

@media screen and (min-width: 600px) {
  .Navigation ._2FBCh {
    display: block;
  }

  .Navigation ._1sAOY {
    width: 10em;
  }

  .Navigation ._2GtDw {
    padding: 0 1em;
  }

  .Navigation .Navigation-panel {
    left: 10em;
  }

  ._07g5.Searchbar.Searchbar--hide {
    display: block;
  }

  .hC5Z2._2Agdx._2CPs4.Navigation-search--button{
    display: none;
  }

  .Navigation-searchbar--close {
    display: none;
  }

  ._07g5.Searchbar {
    left: 15em;
    width: calc(100% - 21em);
  }
}
