.Navigation-panel {
  height: 100vh;
}

.Navigation-panel._3aW3s {
  right: 0px;
}

.Navigation-content {
  width: calc(100vw - 4em);
  padding-top: 4rem;
  padding-bottom: 5.8em;
}

.Navigation-content-main {
  width: initial;
  /*height: calc(100vh - 4em);*/
  padding-top: 4rem;
}

.Navigation ._2FBCh {
  display: none;
}

.Navigation ._2GtDw {
  padding: 0;
}

.Navigation-panel-left {
  left: 4em;
}

/*button icon on the right side of the app bar*/
.Navbar ._37vtt {
  margin-left: 1em;
}

._37vtt .Shop-name {
  margin-left: 18px;
}

.Navigation-sidebar-action {
  position: absolute;
  top: 4.2em;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Navigation-sidebar-content {
  margin-top: 7em;
  /*padding: 1em;*/
}

/*for phone*/
@media screen and (max-width: 480px) {
  ._1sAOY.Navigation-sidebar {
    width: 100vw;
  }
}

/*for desktop*/
@media screen and (min-width: 600px) {
  .Navigation-content,
  .Navigation-content-main {
    width: auto;
    padding-top: 4rem;
  }

  .Navigation-content-main {
    padding-bottom: 0;
  }

  .Navigation ._2FBCh {
    display: block;
  }

  .Navigation ._2GtDw {
    padding: 0 1em;
  }

  .Navigation-panel-left {
    left: 10em;
  }
  ._1sAOY.Navigation-sidebar {
    width: 20vw;
    padding-top: 4em;
  }
  .Navigation-sidebar-content {
    margin-top: 3em;
  }

}
