.ZzBNK.Orders-dropdown {
  position: static;
}

.Orders-dropdown > .lFVgC._6c1D5,
.Orders-dropdown input {
  padding: 0;
}

.Orders-dropdown ._3FySS {
  position: static;
}

.Orders-dropdown.Orders-dropdown ._2767w._2767w {
  top: auto;
}
