@import "../../node_modules/react-image-gallery/styles/css/image-gallery.css";

.color--attribute--group {
  width: 100%;
  text-align: center;
  padding-left: 0;
}

.round {
  display: inline-block;
  list-style: none;
  margin: 0em .5em;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background: red;
  box-shadow: var(--shadow-2p);
}

.cart--image--slider {
  width: 100%;
  padding: 1em;
}

.quantity--input--group{
  display: flex;
  text-align: center;
}

.quantity--input {
  width: 25px;
}
