.ProductCard {
  width: 11em;
  display: flex;
  margin: 1em 0.5em;
}

.card-title._1dU3o._2iwOK ._3qCP3 {
  font-size: 15px;
}

._2Agdx._221ic._2Agdx._2GH_L._1ZxqC._2CPs4.ProductCard-button {
  background-color: #FFC400;
  color: white;
  font-weight: bold;
}


@media screen and (min-width: 600px) {
  .card-title._1dU3o._2iwOK ._3qCP3 {
    font-size: 20px;
  }
}

/*For Desktop*/
@media screen and (min-width: 800px) {
  .ProductCard {
    width: 14em;
    margin: 1em;
  }
}
