.ProductCard {
  width: 12em;
  display: flex;
}

.ShopPage-products--content .ProductCard {
  margin-bottom: 1em;
}

.card-title._1dU3o._2iwOK ._3qCP3 {
  font-size: 15px;
}

._2Agdx._221ic._2Agdx._2GH_L._1ZxqC._2CPs4.ProductCard-button {
  background-color: #FFC400;
  color: white;
  font-weight: bold;
}


@media screen and (min-width: 600px) {
  .card-title._1dU3o._2iwOK ._3qCP3 {
    font-size: 20px;
  }
}
