.ShopPage {
  position: relative;
}

.ShopPage-banner {
  height: 12em;
  width: 100%;
}

.ShopPage-banner--fixed {
  height: 12em;
  width: 100%;
}

.ShopPage > .ShopPage-banner {
  position: absolute;
  top: 0;
  z-index: -1;
}

.ShopPage-details>.ShopPage-banner {
  display: none;
}

.ShopPage-products--container>.ShopPage-banner {
  display: none;
}

.ShopPage-banner-divider > .VX5Lv {
  margin-top: 0px;
  /*height: 2px;*/
  background-color: rgba(0,0,0,0.12);
}

.ShopPage-details {
  display: flex;
  width: 100%;
  text-align: center;
  height: 12em;
  justify-content: center;
  box-shadow: 8px 1px 10px -3px rgba(0, 0, 0, 0.055);
  z-index: 10;
}

.ShopPage-details--show {
  flex-direction: column;
  padding-top: 7em;
  transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
  height: auto;
}

.ShopPage-details .ShopPage-details-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.ShopPage-details-description * {
  margin: .2em 0;
}

.ShopPage-details-description .ShopPage-details--text {
  color: dimgray;
  font-family: "Gotham Narrow Book";
  letter-spacing: 1px;
  font-weight: 900;
  margin-top: 0em;
  margin-bottom: 0em;
}

.ShopPage-details-img {
  height: 6em;
  width: 6em;
  border-radius: 50%;
  margin-top: 1.2em;
  box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.55);
  border: 0.2px solid darkgrey;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  color: #eee;
  background-size: contain;
}

.ShopPage-details--show .ShopPage-details-img {
  height: 10em;
  width: 10em;
  transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
}

.ShopPage-details .ShopPage-details--text {
  text-shadow: 2px 1px 3px black;
  padding: .2em;
}

.ShopPage-details--text {
  letter-spacing: 0.5px;
}

.ShopPage-details--show .ShopPage-details--text {
  text-shadow: none;
  background: initial;
  color: initial;
}

.ShopPage-details--toggle {
  order: 1;
  margin-left: auto;
  position: absolute;
  top: 0.5em;
  right: .5em;
}

.ShopPage-details--toggle .material-icons {
  color: #FFC400;
  font-size: 3em;
}

.ShopPage-details--show * {
  display: block;
  margin: 0 auto;
}

.ShopPage-products--container {
  background-color: whitesmoke;
}

.ShopPage-products--content {
  /*display: inline-block;*/
  flex-wrap: wrap;
  background-color: whitesmoke;
  justify-content: center;
}

.ShopPage-products--list {
  margin: 0.5em 0.5em auto;
}

.ShopPage-products--categories {
  background-color: white;
  padding: 1em;
}

.emptydiv-phone {
  display: flex;
  height: 5em;
  width: 5em;
}

.ShopPage-details-description .rating-stars .material-icons {
  font-size: 1.5em;
}

.ShopPage-products--categories ._3Iv9P {
  cursor: pointer;
}

.ShopPage-products--categories ._3Iv9P:hover {
  box-shadow: var(--shadow-2p);
}

.ShopPage-details-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ShopPage-details-img .hC5Z2._2Agdx._2CPs4 {
  background: rgba(0, 0, 0, .54);
}

.ShopPage-details-img .material-icons {
  color: #eee;
}

.ShopPage-details-contacts {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
}

.contact-number svg {
  color: forestgreen;
}
.address svg {
  color: #FFC400;
}

.ShopPage-details-contacts--contact {
  display: flex;
  align-items: center;
  width: 9em;
  justify-content: space-around;
}

.ShopPage-details-contacts--contact .lFVgC {
  width: 7em;
}

/*for phone*/

@media screen and (max-width: 600px) {
  .ShopPage-details .ShopPage-details--text-desc {
    display: none;
  }
  .ShopPage-details--show .ShopPage-details--text-desc {
    display: block;
    margin-top: 1em;
  }
}


/*for tablet*/

@media screen and (min-width: 600px) {
  .ShopPage {
    display: flex;
  }
  .ShopPage>.ShopPage-banner {
    display: none;
  }
  .ShopPage-details>.ShopPage-banner {
    background: url('../assets/images/side-banner.png') no-repeat center center;
    display: flex;
  }
  .ShopPage-details {
    background: #eee;
    flex-direction: column;
    height: calc(100vh - 3em);
    width: 30vw;
    justify-content: flex-start;
  }
  .ShopPage-details--show {
    padding-top: 0;
  }
  .ShopPage-details .ShopPage-details--text,
  .ShopPage-details--show .ShopPage-details--text {
    text-shadow: 0 0 0;
    /*background: initial;*/
    /*color: initial;*/
  }
  .ShopPage-details--toggle {
    display: none;
  }
  .ShopPage-featured {
    height: 22em;
    box-shadow: -8px 1px 10px -3px rgba(0, 0, 0, 0.055);
  }
  .ShopPage-details>.ShopPage-details-img {
    display: none;
  }
  .ShopPage-details-img {
    height: 10em;
    width: 10em;
    margin: auto;
  }
  .ShopPage-products {
    width: 70vw;
  }
  .ShopPage-products--container {
    height: calc(100vh - 25em);
    overflow-y: auto;
  }
  .ShopPage-details .ShopPage-details-description {
    margin: 0.7em;
  }
  .ShopPage-details .ShopPage-details-description p {
    margin-top: 1em;
  }
  .ShopPage-details .ShopPage-add-banner {
    display: none;
  }
}


/*for monitor*/

@media screen and (min-width: 800px) {
  .ShopPage {
    width: 100vw;
  }
  .ShopPage-details {
    background-color: white;
    width: 17vw;
    height: calc(100vh - 4em);
    color: dimgrey;
  }
  .ShopPage-products {
    display: flex;
    width: calc(100vw - 17vw);
  }
  .ShopPage-featured {
    order: 1;
    height: calc(100vh - 4em);
    width: 20vw;
  }
  .ShopPage-products--container {
    height: calc(100vh - 4em);
    width: 63vw;
  }
  .ShopPage-products--container::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
  }
  .ShopPage-products--container::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #F5F5F5, #F5F5F5, #666, #F5F5F5, #F5F5F5);
  }
  .ShopPage-products--container>.ShopPage-banner {
    display: block;
  }
  .ShopPage-details .ShopPage-details-description {
    padding: 0.6em;
    padding-top: 0.3em;
    margin: 0px;
    color: dimgrey;
  }
  .ShopPage-details-description .Stars {
    font-size: 1.4em;
    /*letter-spacing: 2px;*/
    margin-top: -0.1em;
  }
  .ShopPage-details-description .Stars .Stars-active{
    text-shadow: 0 0 20px rgba(0,0,0,0.7);
  }
  .emptydiv-phone {
    display: none;
  }
  .ShopPage-products--content {
    display: inline-block;
    width: 100%;
  }
  .ShopPage-details-img .hC5Z2._2Agdx._2CPs4 {
    background: initial;
  }
  .ShopPage-details-img:hover .hC5Z2._2Agdx._2CPs4 {
    background: rgba(0, 0, 0, .54);
  }
  .ShopPage-details .ShopPage-details-description p {
    margin-top: 0em;
  }
  .ShopPage-details--text-desc {
    margin-top: 0.4em;
    margin-bottom: 1em;
    padding: 0em 1.1em;
    font-size: 0.96em;
    text-align: justify;
    margin-left: 0.2em;
    font-family: "Gotham Narrow Book";
  }

  .ShopPage-products--container > .ShopPage-banner {
    position: fixed;
    top: 4em;
    width: calc(100% - 37vw - .375em);
  }

  .ShopPage-products--categories,
  .ShopPage-products--content {
    position: relative;
    top: 12em;
    z-index: 1;
  }

  .ShopPage-banner--fixed {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .ShopPage-banner .hC5Z2._2Agdx._2CPs4 {
    position: absolute;

  }
}
