.ShopPage {
  position: relative;
}

.ShopPage-banner {
  background: url('https://unsplash.it/1200/700') no-repeat center center;
  background-size: cover;
  height: 12em;
  width: 100%;
}

.ShopPage > .ShopPage-banner {
  position: absolute;
  top: 0;
  z-index: -1;
}

.ShopPage-details > .ShopPage-banner {
  display: none;
}

.ShopPage-products--container > .ShopPage-banner {
  display: none;
}

.ShopPage-details {
  border-right: 1px solid darkgray;
  display: flex;
  width: 100%;
  text-align: center;
  height: 12em;
  justify-content: center;
}

.ShopPage-details--show {
  flex-direction: column;
  padding-top: 7em;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  height: auto;
}

.ShopPage-details .ShopPage-details-description {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  align-items: center;
}

.ShopPage-details-description * {
  margin: .2em 0;
}

.ShopPage-details .ShopPage-details-description {
  padding-bottom: 1em;

}

.ShopPage-details-img {
  height: 6em;
  width: 6em;
  border-radius: 50%;
  background: url('https://unsplash.it/160/160') no-repeat center center;
  margin-top: 1.2em;
}

.ShopPage-details--show  .ShopPage-details-img {
  height: 10em;
  width: 10em;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.ShopPage-details .ShopPage-details--text {
  text-shadow: 0 0 1px black;
  color: #eee;
  padding: .2em;
}

.ShopPage-details--show .ShopPage-details--text {
 background: initial;
 color: initial;
}

.ShopPage-details--toggle {
 order: 1;
 margin-left: auto;
 position: fixed;
 top: 4em;
 right: .5em;
}

.ShopPage-details--toggle .material-icons {
  color: #FFC400;
  font-size: 3em;
}

.ShopPage-details--show * {
  display: block;
  margin: 0 auto;
}

.ShopPage-products--content {
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  padding: 0.5em;
  justify-content: center;
}

.ShopPage-products--categories {
  padding: 1em;
}

@media screen and (min-width: 600px) {
  .ShopPage {
    display: flex;
  }

  .ShopPage > .ShopPage-banner {
    display: none;
  }

  .ShopPage-details > .ShopPage-banner {
    display: flex;
  }

  .ShopPage-details {
    background: #eee;
    flex-direction: column;
    height: calc(100vh - 3em);
    width: 30vw;
    justify-content: flex-start;
  }

  .ShopPage-details--show {
    padding-top: 0;
  }

  .ShopPage-details .ShopPage-details--text,
  .ShopPage-details--show .ShopPage-details--text  {
    text-shadow: 0 0 0;
    background: initial;
    color: initial;
  }

  .ShopPage-details--toggle {
    display: none;
  }

  .ShopPage-featured {
    height: 22em;
  }

  .ShopPage-details > .ShopPage-details-img {
    display: none;
  }

  .ShopPage-details-img {
    height: 10em;
    width: 10em;
    margin: auto;
  }

  .ShopPage-products--container {
    height: calc(100vh - 25em);
    overflow-y: auto;
  }

  .ShopPage-details .ShopPage-details-description {
    margin-left: 0;
  }
  .ShopPage-details .ShopPage-details-description p{
    margin-top: 1em;
  }
}

@media screen and (max-width: 600px) {

  .ShopPage-details .ShopPage-details-description p {
    display: none;
  }
  .ShopPage-details--show .ShopPage-details-description p {
    display: block;
    margin-top: 1em;
  }
}

@media screen and (min-width: 800px) {
  .ShopPage {
    width: 100vw;
  }

  .ShopPage-details {
    background-color: white;
    width: 15vw;
    height: calc(100vh - 4em);
  }

  .ShopPage-products {
    display: flex;
    width: calc(100%-20vw);
  }

  .ShopPage-featured {
    order: 1;
    height: calc(100vh - 4em);
    width: 15vw;
  }

  .ShopPage-products--container {
    height: calc(100vh - 4em);
    width: 70vw;
  }

  .ShopPage-products--container::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
  }
  .ShopPage-products--container::-webkit-scrollbar-thumb:hover {

    background: linear-gradient(180deg, #F5F5F5, #F5F5F5, #666, #F5F5F5, #F5F5F5);
  }

  .ShopPage-details > .ShopPage-banner {
    display: none;
  }

  .ShopPage-details > .ShopPage-details-img {
    display: block;
    margin: 1em auto;
  }

  .ShopPage-products--container > .ShopPage-banner {
    display: block;
  }

  .ShopPage-details .ShopPage-details-description {
    padding: 0.8em;
    margin: 0px;
  }
}
