.Stars {
  display: inline-flex;
  margin: 0 auto;
}
.Stars .material-icons {
  font-size: 18px;
  display: inline;
}

.Stars svg {
  margin-left: 1.8px;
  height: .7em;
  width: .7em;
  margin-top: .3em;
}
.Stars-active {
  color: orange;
}

.Stars-inactive {
  color: #ccc;
}

@media screen and (min-width: 600px) {
  .Stars .material-icons {
    font-size: 24px;
  }

}
