.Stepper {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  height: auto;
  position: relative;
  justify-content: space-between;
}
.Stepper hr {
  position: absolute;
  width: 70%;
  border: 1px solid #3b3b3b;
  left: 15%;
  top: 13%;
  z-index: 0;
}
.Stepper-hidden {
  display: none;
}

.checkout-body--step {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  text-align: center;
  margin-bottom: .4em;
  height: 4rem;
}

.stepperImageContainer {
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  padding-top: .4em;
  background: #fff;
  position: relative;
  top: .2em;
}

.stepperImageContainer img {
  height: .9rem;
}

.maximized {
  height: 2.5rem;
  width: 2.5rem;
  padding-top: .5em;
  background: #fff;
  position: relative;
  top: -3%;
  box-shadow: 0 0 10px 1px rgba(255,204,51, 1);
}

.maximized img {
  height: 1.6rem;
  width: 1.6rem;
}

.stepperImageContainer span {
  height: 1.7rem;
  width: 1.7rem;
  background: #000;
  opacity: .7;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.checkout-body--step p {
  font-size: 10px;
  margin: 5px;
  width: 80%;
}
