.Stepper {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  margin-top: 5px;
}

.Stepper-hidden {
  display: none;
}

.checkout-body--step {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  text-align: center;
}
.checkout-body--step img {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  box-shadow: 0 0 3px 2px #757575;
}
.checkout-body--step p {
  font-size: 10px;
  margin: 5px;
}
