.Dashboard {
  margin: .5em;
}

.Dashboard ._8pay8 {
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-bottom: .5em;
}

.Dashboard ._8pay8:hover {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.Dashboard-chart {
  height: 30vh;
}

.Dashboard-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Dashboard-list > li {
  display: flex;
  justify-content: space-between;
}

.Dahsboard-report path {
  fill: #003366;
}

@media screen and (min-width: 600px) {
  .Dashboard {
    display: flex;
    flex-flow: row wrap;

  }

  .Dashboard ._8pay8 {
    width: calc(50% - .5em);
    margin: .25em;
  }

  ._8pay8.Dahsboard-report {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .Dashboard ._8pay8 {
    width: calc((100% / 3) - (1em / 3));
    margin: 0;
  }

  .Dashboard ._8pay8:nth-child(1) {
    width: calc(50% - .25em);
    margin: 0 .5em .5em 0;
  }

  .Dashboard ._8pay8:nth-child(2) {
    width: calc(50% - .25em);
    margin: 0 0 .5em 0;
  }

  .Dashboard ._8pay8:nth-child(4) {
    margin: 0 .5em;
  }
}
