.TabList {

}

.ZzBNK.TabList-dropdown {
  position: static;
}

.TabList-dropdown > .lFVgC._6c1D5,
.TabList-dropdown input {
  padding: 0;
}

.TabList-dropdown ._3FySS {
  position: static;
}

.TabList-dropdown.TabList-dropdown ._2767w._2767w {
  top: auto;
}

.TabList.TabList ._2FBCh._2FBCh {
  display: block;
  padding: 0 1em;
}

._8pay8.TabList-card {
  margin-bottom: .5em;
  border-radius: .35em;
}

.TabList-listitem span{
  margin-left: 1em;
}

.K_kzH.TabList-data {
  display: flex;
  flex-direction: column;
}

.TabList-data--row {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.TabList-card--titles {
  display: none;
}

.TabList-data--row span:nth-child(1) {
  display: block;
}

.TabList-card:not(.TabList-card--titles) {
  cursor: pointer;
}

.TabList-card._8pay8:not(.TabList-card--titles):hover {
  box-shadow: var(--shadow-4p);
}

.TabList-card ._2767w {
  width: auto;
}

.TabList-data--row .ZzBNK.TabList-dropdown input {
  max-width: 6.5em;
}

.TabList-card--preview {
  height: 3em;
  width: 2em;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

/* .dashboardTabs::after {
  content: "";
  height: 65%;
  width: 2px;
  top: 25%;
  position: absolute;
  right: 0;
  background: #bdc3c7;
} */

._2EaQV ._3oZmF .i_TGW {
  background: #fff;
}

._3e55Z  ._1xgdB {
  top: 0 !important;
  background-color: rgba(250, 235, 175, .6);
  height: 100%;
}

._3oZmF > ._3e55Z > ._1yb8L {
  font-weight: bold;
}

@media screen and (min-width: 1260px) {

  ._2EaQV > ._3oZmF {
    width: 70%;
    margin-left: 15%;
    border-radius: 1em;
  }
  ._2EaQV > ._3oZmF > ._3e55Z {
    border-radius: 1em;
    margin-top: 1em;
  }



}

@media screen and (min-width: 600px) {
  .K_kzH.TabList-data {
    flex-direction: row;
  }

  .TabList-card--titles {
    display: block;
  }

  .TabList-data--row span:nth-child(1) {
    display: none;
  }

  .TabList-data--row--title span:nth-child(1) {
    display: block;
  }
}
