.ProductsSidebar-add,
.ProductsSidebar-add--stock,
.ProductsSidebar-img,
.ProductSidebar-details,
.ProductSidebar-upload{
  padding: 1em;
  padding-top: 0;
}

.ProductsSidebar-add .hC5Z2._2Agdx._2CPs4 {
  display: inline-block;
  margin: .25em;
}

.hC5Z2.ProductsSidebar-add--color.ProductsSidebar-add--color {
  color: white;
}

.ProductsSidebar-add--colors {
  margin-bottom: 1em;
}

.ProductsSidebar-add-attributes--card {
  margin-bottom: .5em;
  padding: .5em;
}

.ProductsSidebar-add-attributes--card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ProductsSidebar-add-attributes--card-heading h4{
  margin: 0;
}

.ProductsSidebar-add-attributes--card .ZoLIG {
  margin-left: auto;
}

.ProductsSidebar-add--products,
.ProductsSidebar-add--stock,
.ProductsSidebar-img,
.ProductSidebar-details,
.ProductSidebar-upload {
  display: flex;
  flex-direction: column;
}

.ProductsSidebar-add-actions {
  margin-left: auto;
  margin-top: 1em;
}

.ProductsSidebar-add .ProductsSidebar-add--color,
.ProductSidebar-details--variance .ProductsSidebar-add--color{
  box-shadow: var(--shadow-6p);
}

.ProductsSidebar-img-dropzone {
  height: 6em;
  width:  4em;
  margin: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: #ccc dotted;
  color: #ccc;
}

.ProductsSidebar-img-variants--title {
  display: flex;
  align-items: center;
}

.ProductsSidebar-img-variants--title h4 {
  margin-left: .5em;
}

.ProductsSidebar-img-variants--content {
  display: flex;
  flex-wrap: wrap;
}

.ProductsSidebar-add .lFVgC {
  padding-bottom: 0;
}

.ProductsSidebar-add--radio {
  display: flex;
  justify-content: space-around;
}

.ProductsSidebar-img h3 {
  margin: 0;
}

.ProductSidebar-details--images * {
  min-height: 0;
  min-width: 0;
}

.ProductSidebar-details--images {
  margin: 0 auto;
  background: #ccc;
  height: 30vh;
  width: 80%;

}

.ProductSidebar-details--images img {
  height: 30vh;
  margin: 0 auto;
}
.ProductSidebar-details--variance {
  margin-top: 1em;
  padding: 1em;
  display: flex;
  justify-content: center;
  width: 90%;
}

.ProductsSidebar-add-attributes--stock>.lFVgC {
  padding-top: 0px;
}

.ProductSidebar-add-product.ProductSidebar-add-product--active,
.ProductSidebar-add-service.ProductSidebar-add-service--active {
    border-bottom: 2px solid rgb(71, 84, 144);
}

.ProductsSidebar-add--products .material-icons,
.ProductSidebar-details .material-icons {
  font-size: 14px;
}

.ProductsSidebar-add--products--info {
  font-size: 12px;
  padding-left: .5em;
  display: none;
}

.ProductsSidebar-add--products--info.ProductsSidebar-add--products--info--show {
  display: block;
}
