@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
  font-family: "Gotham Narrow Black";
  src: url('../src/assets/fonts/gotham_narrow_black.otf') format("opentype");
}

@font-face {
  font-family: "Gotham Narrow Book";
  src: url('../src/assets/fonts/gotham_narrow_book.otf') format("opentype");
}

@font-face {
  font-family: "Gotham Thin Regular";
  src: url('../src/assets/fonts/gotham_thin_regular.otf') format("opentype");
}

@font-face {
  font-family: "Dincond Bold";
  src: url('../src/assets/fonts/dincond-bold.otf') format("opentype");
}

@font-face {
  font-family: "Dincond Medium";
  src: url('../src/assets/fonts/dincond-medium.otf') format("opentype");
}

@font-face {
  font-family: "Harmonia Regular";
  src: url('../src/assets/fonts/HarmoniaSansProCyr-Regular.otf') format("opentype");
}

@font-face {
  font-family: "Harmonia Bold";
  src: url('../src/assets/fonts/HarmoniaSansProCyr-Bold.otf') format("opentype");
}

@font-face {
  font-family: "Harmonia Light";
  src: url('../src/assets/fonts/HarmoniaSansProCyr-Light.otf') format("opentype");
}

@font-face {
  font-family: "NeueKabel";
  src: url('../src/assets/fonts/NeueKabel.otf') format("opentype");
}

@font-face {
  font-family: "NeueKabel Book";
  src: url('../src/assets/fonts/NeueKabel-Book.otf') format("opentype");
}

@font-face {
  font-family: "NeueKabel Medium";
  src: url('../src/assets/fonts/NeueKabel-Medium.otf') format("opentype");
}

@font-face {
  font-family: "NeueKabel Thin";
  src: url('../src/assets/fonts/NeueKabel-Thin.otf') format("opentype");
}

body {
  margin: 0;
}

* {
  font-family: "Gotham Narrow Book", Arial, sans-serif;
}

h1 {
  font-family: "Gotham Narrow Black", Arial, sans-serif;
  font-weight: 300;
}
h2,h3,h4,h5,h6 {
  font-family: "Gotham Narrow Black", Arial, sans-serif;
  font-weight: 100;
}
