@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
  font-family: "Gotham Narrow Black";
  src: url('../src/assets/fonts/gotham_narrow_black.otf') format("opentype");
}

@font-face {
  font-family: "Gotham Narrow Book";
  src: url('../src/assets/fonts/gotham_narrow_book.otf') format("opentype");
}

@font-face {
  font-family: "Gotham Thin Regular";
  src: url('../src/assets/fonts/gotham_thin_regular.otf') format("opentype");
}

@font-face {
  font-family: "Dincond Bold";
  src: url('../src/assets/fonts/dincond-bold.otf') format("opentype");
}

@font-face {
  font-family: "Dincond Medium";
  src: url('../src/assets/fonts/dincond-medium.otf') format("opentype");
}

@font-face {
  font-family: "Harmonia Regular";
  src: url('../src/assets/fonts/HarmoniaSansProCyr-Regular.otf') format("opentype");
}

@font-face {
  font-family: "Harmonia Bold";
  src: url('../src/assets/fonts/HarmoniaSansProCyr-Bold.otf') format("opentype");
}

@font-face {
  font-family: "Harmonia Light";
  src: url('../src/assets/fonts/HarmoniaSansProCyr-Light.otf') format("opentype");
}

@font-face {
  font-family: "NeueKabel";
  src: url('../src/assets/fonts/NeueKabel.otf') format("opentype");
}

@font-face {
  font-family: "NeueKabel Book";
  src: url('../src/assets/fonts/NeueKabel-Book.otf') format("opentype");
}

@font-face {
  font-family: "NeueKabel Medium";
  src: url('../src/assets/fonts/NeueKabel-Medium.otf') format("opentype");
}

@font-face {
  font-family: "NeueKabel Thin";
  src: url('../src/assets/fonts/NeueKabel-Thin.otf') format("opentype");
}

@font-face {
  font-family: "Special Elite";
  src: url('../src/assets/fonts/SpecialElite.ttf') format("truetype");
}

@font-face {
  font-family: "Century_Gothic";
  src: url('../src/assets/fonts/century-gothic.ttf') format("truetype");
}

body {
  margin: 0;
}

* {
  font-family: "Gotham Narrow Book", Arial, sans-serif;
}

h1 {
  font-family: "Gotham Narrow Black", Arial, sans-serif;
  font-weight: 300;
}
h2,h3,h4,h5,h6 {
  font-family: "Gotham Narrow Black", Arial, sans-serif;
  font-weight: 100;
}

:root {
  --shadow-2p: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --shadow-3p: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  --shadow-4p: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  --shadow-6p: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

[role=input] {
  box-shadow: none;
}
