.sh-btn--yellow {
  background-color: var(--sh-yellow) !important;
  color: var(--btn-color) !important;
  font-weight: 600;
  font-family: var(--btn-font);
}

.sh-btn--yellow:hover {
  background-color: rgba(255, 204, 51, 0.9) !important;
}

